<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <title>公司部门人员岗位信息</title>
    <!-- 浏览器标签图片 -->
    <link rel="shortcut icon" href="../../tag.jpg"/>
    <!-- FontAwesome字体图标 -->
    <link type="text/css" href="../../themes/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../../themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../../themes/icon.css">
    <link rel="stylesheet" type="text/css" href="../demo.css">
    <link type="text/css" href="../../themes/layui/css/layui.css" rel="stylesheet"/>
    <script type="text/javascript" src="../../jquery.min.js"></script>
    <script type="text/javascript" src="../../jquery.easyui.min.js"></script>
    <!-- layui框架js -->
    <script type="text/javascript" src="../../themes/layui/layui.js" charset="utf-8"></script>
</head>
<body>
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'west',split:true" title="" style="width:18%;">
        <table title="" class="easyui-treegrid"
               data-options="
                url: 'http://localhost:8000/getListByLevelId',
                method: 'get',
                idField: 'id',
                treeField: 'text',
                onClickRow:changeIframe
            ">
            <thead>
            <tr>
                <th data-options="field:'text'" width="220">太平人寿保险有限公司佛山分公司</th>
            </tr>
            </thead>
        </table>
    </div>
    <div data-options="region:'center',title:'',iconCls:'icon-ok'">
        <div data-options="region:'north',fit:false,split:true,border:false"
             style="height:7%">
            <div class="easyui-panel" style="width:100%;border: none; text-align: right; padding:10px 60px;">
                <input class="easyui-searchbox"
                       data-options="prompt:'请输入查询内容',menu:'#mm',searcher:doSearch"
                       style="float:right;width:400px">
            </div>
            <div id="mm">
                <div data-options="name:'overall',iconCls:'fa fa-heart'">全局搜索</div>
                <div data-options="name:'keywords',iconCls:'fa fa-key'">关键字</div>
                <div data-options="name:'name',iconCls:'fa fa-user-o'">姓名</div>
            </div>
        </div>
        <div data-options="region:'center',title:'',fit:false,split:true,border:false,bodyCls:'border_right_bottom'"
             style="height:92%">
            <div class="easyui-tabs" data-options="fit:true,border:false,plain:true">
                <div title="员工信息" style="padding:5px">
                    <table id="productDg" class="easyui-datagrid"
                           data-options="url:'http://localhost:8000/getPageSet',method:'get',singleSelect:true,fit:true,fitColumns:true,pagination:true,toolbar:toolbar">
                        <thead>
                        <tr>
                            <th data-options="field:'employeeName',align:'center'" width="265">员工姓名</th>
                            <th data-options="field:'departmentName',align:'center'" width="265">部门</th>
                            <th data-options="field:'jobName',align:'center'" width="265">岗位</th>
                            <th data-options="field:'id',align:'center',formatter:operateFormatter"
                                width="265">查看
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="product-dialog"></div>
<div id="update-dialog"></div>
<div id="insert-dialog"></div>
<script>
    function changeIframe(row) {

        console.log(row.levelId);
        var levelId = row.levelId;
        var id = row.id;
        if (levelId == 2 || levelId == 1) {
            var queryParams = $('#productDg').datagrid('options').queryParams;
            queryParams.name = "";
            queryParams.value = "";
            $("#productDg").datagrid({
                queryParams: {
                    id: "",
                }
            })
        } else {
            var queryParams = $('#productDg').datagrid('options').queryParams;
            queryParams.name = "";
            queryParams.value = "";
            $("#productDg").datagrid({
                queryParams: {
                    id: id,
                }
            })
            var queryParams = $('#productDg').datagrid('options').queryParams;
        }
    }

    function doSearch(value, name) {
        console.log(name + "==" + value);
        $('#productDg').datagrid({
            queryParams: {
                value: value,
                name: name
            }
        })
        $('#productDg').datagrid('load');
    }

    //菜单栏
    var toolbar = [{
        text: '添加',
        iconCls: 'icon-add',
        handler: function () {
            var productWin = $('#insert-dialog').dialog({
                width: 950,
                height: 500,
                href: '/hrm-web/html/layout/insert-page.html',
                buttons: [
                    {
                        text: '添加',
                        iconCls: 'fa fa-save',
                        handler: function () {
                            $.messager.confirm('确认提示', '确定要执行该操作吗?', function (r) {
                                if (r) {
                                    if ($('#employeeName').val() == '' || $('#deptName').val() == '' || $('#jobName').val() == '') {
                                        $.messager.show({
                                            title: '操作提示',
                                            msg: '请输入必填信息',
                                            timeout: 5000,
                                            showType: 'slide'
                                        });
                                    } else {
                                        $.ajax({
                                            type: "post",
                                            dataType: "json",
                                            url: 'http://localhost:8000/insert',
                                            data: $("form[name='myForm']").serialize(),//表单数据
                                            success: function (data) {
                                                console.log(data);
                                                if (data.result == 'success') {
                                                    console.log(data.result);
                                                    $.messager.show({
                                                        title: '操作提示',
                                                        msg: '添加成功，请进行下一步操作！',
                                                        timeout: 5000,
                                                        showType: 'slide'
                                                    });
                                                } else {
                                                    $.messager.show({
                                                        title: '操作提示',
                                                        msg: '添加失败，' + data.message,
                                                        timeout: 5000,
                                                        showType: 'slide'
                                                    });
                                                }
                                            }
                                        });
                                    }
                                }
                            });
                        },
                        btnCls: 'topjui-btn-green'
                    }
                ],
                title: '添加人员',
                closed: true,
                minimizable: false,
                collapsible: false,
                maximizable: false,
                cache: false,
                shadow: false
            });
            $('#product-dialog').dialog('clear');
            productWin.dialog('clear');
            productWin.dialog('open');
        }
    }, {
        text: '编辑',
        iconCls: 'icon-edit',
        handler: function () {
            var row = $('#productDg').datagrid('getSelected');
            if (row) {
                var employeeId = row.id;
                var editDialog = $('#product-dialog').dialog({
                    width: 950,
                    height: 500,
                    href: '/hrm-web/html/layout/update-page.html',
                    onOpen: function () {
                        var rm = Math.random();
                        $.ajax({
                            url: 'http://localhost:8000/getById?id=' + employeeId + '&random=' + rm,
                            dataType: "json",
                            success: function (data) {
                                console.log(data.employeeName);
                                $('#employeeId').textbox('setValue', data.employeeId);
                                $('#employeeName').textbox('setValue', data.employeeName);
                                $('#deptId').textbox('setValue', data.deptId);
                                $('#deptName').textbox('setValue', data.deptName);
                                $('#jobId').textbox('setValue', data.jobId);
                                $('#jobName').textbox('setValue', data.jobName);
                                if (data.mainWork1) {
                                    $('#work1Id').textbox('setValue', data.work1Id);
                                    $('#mainWork1').textbox('setValue', data.mainWork1);
                                    $('#mainWorkDes1').textbox('setValue', data.mainWorkDes1);
                                } else {
                                    $('#southTabs').tabs('close', '主要工作1');
                                }
                                if (data.mainWork2) {
                                    $('#work2Id').textbox('setValue', data.work2Id);
                                    $('#mainWork2').textbox('setValue', data.mainWork2);
                                    $('#mainWorkDes2').textbox('setValue', data.mainWorkDes2);
                                } else {
                                    $('#southTabs').tabs('close', '主要工作2');
                                }
                                if (data.mainWork3) {
                                    $('#work3Id').textbox('setValue', data.work3Id);
                                    $('#mainWork3').textbox('setValue', data.mainWork3);
                                    $('#mainWorkDes3').textbox('setValue', data.mainWorkDes3);
                                } else {
                                    $('#southTabs').tabs('close', '主要工作3');
                                }
                                if (data.mainWork4) {
                                    $('#work4Id').textbox('setValue', data.work4Id);
                                    $('#mainWork4').textbox('setValue', data.mainWork4);
                                    $('#mainWorkDes4').textbox('setValue', data.mainWorkDes4);
                                } else {
                                    $('#southTabs').tabs('close', '主要工作4');
                                }
                                if (data.mainWork5) {
                                    $('#work5Id').textbox('setValue', data.work5Id);
                                    $('#mainWork5').textbox('setValue', data.mainWork5);
                                    $('#mainWorkDes5').textbox('setValue', data.mainWorkDes5);
                                } else {
                                    $('#southTabs').tabs('close', '主要工作5');
                                }
                                if (data.mainWork6) {
                                    $('#work6Id').textbox('setValue', data.work6Id);
                                    $('#mainWork6').textbox('setValue', data.mainWork6);
                                    $('#mainWorkDes6').textbox('setValue', data.mainWorkDes6);
                                } else {
                                    $('#southTabs').tabs('close', '主要工作6');
                                }
                                if (data.mainWork7) {
                                    $('#work7Id').textbox('setValue', data.work7Id);
                                    $('#mainWork7').textbox('setValue', data.mainWork7);
                                    $('#mainWorkDes7').textbox('setValue', data.mainWorkDes7);
                                } else {
                                    $('#southTabs').tabs('close', '主要工作7');
                                }
                                if (data.mainWork8) {
                                    $('#work8Id').textbox('setValue', data.work8Id);
                                    $('#mainWork8').textbox('setValue', data.mainWork8);
                                    $('#mainWorkDes8').textbox('setValue', data.mainWorkDes8);
                                } else {
                                    $('#southTabs').tabs('close', '主要工作8');
                                }
                            }
                        });
                    },
                    buttons: [
                        {
                            text: '更新',
                            iconCls: 'fa fa-save',
                            handler: function () {
                                $.messager.confirm('确认提示', '确定要执行该操作吗?', function (r) {
                                    if (r) {
                                        $.ajax({
                                            type: "post",
                                            dataType: "json",
                                            url: 'http://localhost:8000/update',
                                            data: $("form[name='myForm']").serialize(),//表单数据
                                            success: function (data) {
                                                console.log(data);
                                                if (data.result == 'success') {
                                                    console.log(data.result);
                                                    $.messager.show({
                                                        title: '操作提示',
                                                        msg: '更新成功，请进行下一步操作！',
                                                        timeout: 5000,
                                                        showType: 'slide'
                                                    });
                                                } else {
                                                    $.messager.show({
                                                        title: '操作提示',
                                                        msg: '更新失败，请确认是否具备操作权限或操作步骤正确！',
                                                        timeout: 5000,
                                                        showType: 'slide'
                                                    });
                                                }
                                            }
                                        });
                                    }
                                });
                            },
                            btnCls: 'topjui-btn-green'
                        }
                    ],
                    title: '更新信息',
                    closed: true,
                    minimizable: false,
                    collapsible: false,
                    maximizable: false,
                    cache: false,
                    shadow: false
                });
                $('#insert-dialog').dialog('clear');
                editDialog.dialog('clear');
                editDialog.dialog('open');
            } else {
                $.messager.show({
                    title: '操作提示',
                    msg: '请选择要编辑数据！',
                    timeout: 5000,
                    showType: 'slide'
                });
            }
        }
    }, {
        text: '删除',
        iconCls: 'icon-remove',
        handler: function () {
            var row = $('#productDg').datagrid('getSelected');
            if (row) {
                $.messager.confirm('确认提示', '确定要执行该操作吗?', function (r) {
                    if (r) {
                        console.log(row.id);
                        var employeeId = row.id;
                        $.ajax({
                            url: 'http://localhost:8000/delete?id=' + employeeId,
                            dataType: "json",
                            success: function (data) {
                                console.log(data);
                                if (data.result == "success") {
                                    console.log("删除成功");
                                    $.messager.show({
                                        title: '操作提示',
                                        msg: '删除成功，请进行下一步操作！',
                                        timeout: 5000,
                                        showType: 'slide'
                                    });
                                } else {
                                    console.log("删除失败");
                                    $.messager.show({
                                        title: '操作提示',
                                        msg: '删除失败，请确认是否具备操作权限或操作步骤正确！',
                                        timeout: 5000,
                                        showType: 'slide'
                                    });
                                }
                            }
                        });
                        $('#productDg').datagrid('load');
                    }
                });
            } else {
                $.messager.show({
                    title: '操作提示',
                    msg: '请选择要删除数据！',
                    timeout: 5000,
                    showType: 'slide'
                });
            }
        }
    }];

    function operateFormatter(value, row, index) {
        var str = '<a href="#" name="opera" class="easyui-linkbutton" style="color: #00a65a" onclick="clickBtn(' + row.id + ')"><i class="fa fa-eye" aria-hidden="true"></i></a>';
        return str;
    }

    function clickBtn(id) {
        console.log(id);
        var productWin = $('#product-dialog').dialog({
            width: 950,
            height: 500,
            href: '/hrm-web/html/layout/multiline.html',
            onOpen: function () {
                var rm = Math.random();
                $.ajax({
                    url: 'http://localhost:8000/getById?id=' + id + '&random=' + rm,
                    dataType: "json",
                    success: function (data) {
                        console.log(data.employeeName);
                        $('#employeeName').textbox('setText', data.employeeName);
                        $('#deptName').textbox('setText', data.deptName);
                        $('#jobName').textbox('setText', data.jobName);
                        if (data.mainWork1) {
                            $('#mainWork1').textbox('setText', data.mainWork1);
                            $('#mainWorkDes1').textbox('setText', data.mainWorkDes1);
                        } else {
                            $('#southTabs').tabs('close', '主要工作1');
                        }
                        if (data.mainWork2) {
                            $('#mainWork2').textbox('setText', data.mainWork2);
                            $('#mainWorkDes2').textbox('setText', data.mainWorkDes2);
                        } else {
                            $('#southTabs').tabs('close', '主要工作2');
                        }
                        if (data.mainWork3) {
                            $('#mainWork3').textbox('setText', data.mainWork3);
                            $('#mainWorkDes3').textbox('setText', data.mainWorkDes3);
                        } else {
                            $('#southTabs').tabs('close', '主要工作3');
                        }
                        if (data.mainWork4) {
                            $('#mainWork4').textbox('setText', data.mainWork4);
                            $('#mainWorkDes4').textbox('setText', data.mainWorkDes4);
                        } else {
                            $('#southTabs').tabs('close', '主要工作4');
                        }
                        if (data.mainWork5) {
                            $('#mainWork5').textbox('setText', data.mainWork5);
                            $('#mainWorkDes5').textbox('setText', data.mainWorkDes5);
                        } else {
                            $('#southTabs').tabs('close', '主要工作5');
                        }
                        if (data.mainWork6) {
                            $('#mainWork6').textbox('setText', data.mainWork6);
                            $('#mainWorkDes6').textbox('setText', data.mainWorkDes6);
                        } else {
                            $('#southTabs').tabs('close', '主要工作6');
                        }
                        if (data.mainWork7) {
                            $('#mainWork7').textbox('setText', data.mainWork7);
                            $('#mainWorkDes7').textbox('setText', data.mainWorkDes7);
                        } else {
                            $('#southTabs').tabs('close', '主要工作7');
                        }
                        if (data.mainWork8) {
                            $('#mainWork8').textbox('setText', data.mainWork8);
                            $('#mainWorkDes8').textbox('setText', data.mainWorkDes8);
                        } else {
                            $('#southTabs').tabs('close', '主要工作8');
                        }
                    }
                });
            },
            buttons: [],
            title: '查看信息',
            closed: true,
            minimizable: false,
            collapsible: false,
            maximizable: false,
            cache: false,
            shadow: false
        });
        $('#insert-dialog').dialog('clear');
        productWin.dialog('clear');
        productWin.dialog('open');
    }
</script>
</body>
</html>