<!DOCTYPE html>
<html>
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<!-- 避免IE使用兼容模式 -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
		<meta name="renderer" content="webkit">
        <title>Multiline TextBox - jQuery EasyUI Demo</title>
		<!-- FontAwesome字体图标 -->
		<link type="text/css" href="../../themes/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
        <!-- layui框架样式 -->
        <link type="text/css" href="../../themes/layui/css/layui.css" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="../../themes/default/easyui.css">
        <link rel="stylesheet" type="text/css" href="../../themes/icon.css">
        <link rel="stylesheet" type="text/css" href="../demo.css">
        <script type="text/javascript" src="../../jquery.min.js"></script>
        <script type="text/javascript" src="../../jquery.easyui.min.js"></script>
        <!-- layui框架js -->
        <script type="text/javascript" src="../../themes/layui/layui.js" charset="utf-8"></script>
    </head>
    <body>
        <div style="position:relative;margin:0 auto;padding:10px 15px">
            <div style="margin-bottom:20px">
                <input id="employeeName" class="easyui-textbox" label="姓名:" labelPosition="left" style="width:400px;margin-right: 10px;">
                <input id="deptName" class="easyui-textbox" label="部门:" labelPosition="left" style="width:400px;">
            </div>
            <div style="margin-bottom:20px">
                <input id="jobName" class="easyui-textbox" label="岗位:" labelPosition="left" style="width:400px;">
            </div>
            <div id="southTabs" class="easyui-tabs" style="width:100%;height:250px">
                <div title="主要工作1" style="padding:10px">
					<div style="margin-bottom:10px;text-align: center;">
						<input id="mainWork1" class="easyui-textbox" style="width:400px;text-align: center;margin-bottom: 5px; margin-right: 10px;">
					</div>
                    <div style="margin-bottom:20px">
                        <input id="mainWorkDes1" class="easyui-textbox" multiline="true"
                               value="This TextBox will allow the user to enter multiple lines of text."
                               style="width:100%;height:120px">
                    </div>
                </div>
				<div title="主要工作2" style="padding:10px">
					<div style="margin-bottom:10px;text-align: center;">
						<input id="mainWork2" class="easyui-textbox" style="width:400px;text-align: center;margin-bottom: 5px; margin-right: 10px;">
					</div>
					<div style="margin-bottom:20px">
						<input id="mainWorkDes2" class="easyui-textbox" multiline="true"
							   value="This TextBox will allow the user to enter multiple lines of text."
							   style="width:100%;height:120px">
					</div>
				</div>
				<div title="主要工作3" style="padding:10px">
					<div style="margin-bottom:10px;text-align: center;">
						<input id="mainWork3" class="easyui-textbox" style="width:400px;text-align: center;margin-bottom: 5px; margin-right: 10px;">
					</div>
					<div style="margin-bottom:20px">
						<input id="mainWorkDes3" class="easyui-textbox" multiline="true"
							   value="This TextBox will allow the user to enter multiple lines of text."
							   style="width:100%;height:120px">
					</div>
				</div>
				<div title="主要工作4" style="padding:10px">
					<div style="margin-bottom:10px;text-align: center;">
						<input id="mainWork4" class="easyui-textbox" style="width:400px;text-align: center;margin-bottom: 5px; margin-right: 10px;">
					</div>
					<div style="margin-bottom:20px">
						<input id="mainWorkDes4" class="easyui-textbox" multiline="true"
							   value="This TextBox will allow the user to enter multiple lines of text."
							   style="width:100%;height:120px">
					</div>
				</div>
				<div title="主要工作5" style="padding:10px">
					<div style="margin-bottom:10px;text-align: center;">
						<input id="mainWork5" class="easyui-textbox" style="width:400px;text-align: center;margin-bottom: 5px; margin-right: 10px;">
					</div>
					<div style="margin-bottom:20px">
						<input id="mainWorkDes5" class="easyui-textbox" multiline="true"
							   value="This TextBox will allow the user to enter multiple lines of text."
							   style="width:100%;height:120px">
					</div>
				</div>
				<div title="主要工作6" style="padding:10px">
					<div style="margin-bottom:10px;text-align: center;">
						<input id="mainWork6" class="easyui-textbox" style="width:400px;text-align: center;margin-bottom: 5px; margin-right: 10px;">
					</div>
					<div style="margin-bottom:20px">
						<input id="mainWorkDes6" class="easyui-textbox" multiline="true"
							   value="This TextBox will allow the user to enter multiple lines of text."
							   style="width:100%;height:120px">
					</div>
				</div>
				<div title="主要工作7" style="padding:10px">
					<div style="margin-bottom:10px;text-align: center;">
						<input id="mainWork7" class="easyui-textbox" style="width:400px;text-align: center;margin-bottom: 5px; margin-right: 10px;">
					</div>
					<div style="margin-bottom:20px">
						<input id="mainWorkDes7" class="easyui-textbox" multiline="true"
							   value="This TextBox will allow the user to enter multiple lines of text."
							   style="width:100%;height:120px">
					</div>
				</div>
				<div title="主要工作8" style="padding:10px">
					<div style="margin-bottom:10px;text-align: center;">
						<input id="mainWork8" class="easyui-textbox" style="width:400px;text-align: center;margin-bottom: 5px; margin-right: 10px;">
					</div>
					<div style="margin-bottom:20px">
						<input id="mainWorkDes8" class="easyui-textbox" multiline="true"
							   value="This TextBox will allow the user to enter multiple lines of text."
							   style="width:100%;height:120px">
					</div>
				</div>
            </div>
        </div>
    </body>
</html>